<%- layout('base.ejs')%>
<% block('title', 'Серпантин') -%>

<link rel="stylesheet" href="/stylesheets/builded/about.css">
<script src="/javascripts/main.js"></script>
	
<div class="container">

	<div class="header">
		<p>О компании</p>
	</div>

	<div class="about">
		<h3>Что мы?</h3>

		<p>Наша сайт - уникальная платформа по планированию путешествий по России и странам СНГ, включая все сервисы: проживание, экскурсии, развлечения, места, где поесть, что увидеть и посетить, которые были нами тщательно проверены и отобраны. Более того, планирование поездки происходит исходя из того, какой вид отдыха хочет на данный момент пользователь (романтический / семейный / экстремальный / и др), путешественнику достаточно выбрать фильтр, и автоматически сайт отберет подходящие варианты. Все проработано до мельчайших деталей - сайт (адаптирован для работы на мобильных телефонах) позволяет найти то, что нужно туристу наиболее простым и комфортабельным способом. Все отобранные места отмечены на карте, таким образом, пользователь может выбрать ближайшее и проложить до него путь.</p>

		<h3>Идея</h3>

		<p>Идея по созданию данной платформы пришла нам во время планирования последнего зимнего отдыха. В течение двух месяцев мы большой компанией планировали отдых, среди наших друзей есть те, кто учатся в академии ФСБ, и выезд из России им запрещен. За время обсуждения разных вариантов, нам пришлось столкнуться с огромным количеством вопросов и проблем, связанных в первую очередь с тем, что информация часто была недостоверной, а иногда и попросту отсутствовала. Так же мы задавались вопросами, куда пойти и что делать в том или ином месте. В итоге, связавшись напрямую с огромным количеством отелей и туристических мест, мы организовали себе потрясающий горнолыжный отдых в недорогом, молодежном отеле, заранее купили себе ски-пассы, знали, где арендовать оборудование, заранее отобрали места, где можно поесть и задолго до того, как приехали на место, знали, куда будем ходить, и чем себя развлекать. Проделав огромное количество работы, мы смогли на месте на сто процентов насладиться отдыхом и ни о чем кроме не думать. Вернувшись домой, счастливые и отдохнувшие, мы не стали выбрасывать и забывать все, что мы успели отобрать в разных городах, пока выбирали, куда поехать. Мы решили структурировать и дополнить уже имеющиеся данные, сделать анализ и прогноз рынка и на основе этого создать первую в России платформу по планированию поездок, включающую в себя все необходимые и дополнительные сервисы!</p>

		<h3>Проект</h3>

		<p>Нынешняя экономическая ситуация увеличила количество русских туристов, путешествующих внутри страны. Более того, число иностранных туристов за последний год увеличилось втрое. Туристический бизнес в России активно развивается и имеет огромный потенциал. Кто, если не мы, будет продвигать данную отрасль в нашей стране. Изучив российский рынок туризма, мы сделали вывод, что у нас огромное количество потенциальных клиентов, люди хотят путешествовать и хотят путешествовать качественно, что и обеспечивает наша платформа.</p>

		<h3>Наши преимущества</h3>

		<p>Компания не имеет аналогов. Мы - единственная существующая консьерж-служба, которая полностью планирует отдых туриста. Наш сайт позволяет отказаться от туристических агенств, которые зачастую работают нечестно и берут очень большую комиссию. Данным сайтом мы удовлетворим потребность не только наших потенциальных потребителей, но и сыграем большую роль в развитии и упрощении рынка туризма России. Путешественники смогут забыть о всех неприятных и муторных процессах, связанных с планированием отдыха, мы их берем на себя, и насладиться только положительной стороной путешествия.</p>
	</div>

</div>