<%- layout('base.ejs')%>
<% block('title', 'Админка') -%>

<script src="/libs/angular/angular.min.js"></script>
<script src="/javascripts/admin_places.js"></script>

<script>
	window.cities = <%- JSON.stringify(cities) %>;
	window.place = <%- JSON.stringify(place) %>;
</script>

<link rel="stylesheet" href="/stylesheets/builded/admin.css">

<div ng-app="serpAdmin" ng-controller="MainCtrl" class="admin-container">

	<div class="container"><a href="/admin">Вернуться назад</a></div>
	
	<div class="left">
		<div class="block">
			<div class="title">Основная информация</div>
			
			<div class="wrapper">
				<div class="form-group">
					<label for="title">Заголовок</label>
					<input class="form-control" id="title" ng-class="{ fill : restplace.title }" type="text" ng-model="restplace.title">
				</div>

				<div class="form-group">
					<label for="title">URL Заголовок( транслит)</label>
					<input class="form-control" id="title" ng-class="{ fill : restplace.title_url }" type="text" ng-model="restplace.title_url" placeholder="Пример: hotel_spa_resort_super_dream_comes_true">
				</div>

				<div class="form-group">
					<label for="description_full">Полное описание</label>
					<textarea class="form-control" id="description_full" ng-class="{ fill : restplace.description_full }" ng-model="restplace.description_full"></textarea>
				</div>

				<div class="form-group">
					<label for="description_mini">Краткое описание</label>
					<textarea class="form-control" id="description_mini" ng-class="{ fill : restplace.description_mini }" ng-model="restplace.description_mini"></textarea>
				</div>

				<div class="form-group">
					<label>Тип места</label>
					<select ng-options="type.type as type.name for type in _types" ng-model="restplace.type"></select>
				</div>

			</div>
		</div>

		<div class="block">
			<div class="title">Расположение</div>
			
			<div class="wrapper">
				<div class="form-group">
					<label>Координаты</label>
					<input class="form-control" ng-class="{ fill : restplace.coordinates }" type="text" ng-model="restplace.coordinates" placeholder="Координаты">
				</div>

				<div class="form-group">
					<label>Адрес</label>
					<input class="form-control" ng-class="{ fill : restplace.adress }" type="text" ng-model="restplace.adress" placeholder="Адрес">
				</div>

				<div class="form-group">
					<label>Страна</label>
					<input class="form-control" ng-class="{ fill : restplace.country }" type="text" ng-model="restplace.country" placeholder="Страна">
				</div>

				<div class="form-group">
					<label>Город</label>
					<select ng-options="city._id as city.name for city in _cities" ng-model="restplace.city"></select>
				</div>

				<div id="map" style="width: 100%; height: 500px"></div>

			</div>
		
		</div>

	</div>
	<div class="right">
		
		<div class="images-load-container block">
			<div class="title">Большие фото</div>
			<div class="wrapper">
				<input id="image" type="file" data-key="images" multiple="true" style="visibility:hidden">
				<p><button class="btn btn-success" ng-click="imageLoad(true)">Загрузить фотки</button></p>
				<div class="images-list">
					<div style="background-image:url('{{ image.path }}')" class="each-img" ng-repeat="image in images">
					</div>
				</div>
			</div>
		</div>
		<div class="images-load-container block">
			<div class="title">Мелкие фото</div>
			<div class="wrapper">
				<input id="mini-image" type="file" data-key="mini_images" multiple="true" style="visibility:hidden">
				<p><button class="btn btn-success" ng-click="imageLoad()">Загрузить фотки</button></p>
				<div class="images-list">
					<div style="background-image:url('{{ image.path }}')" class="each-img" ng-repeat="image in mini_images">
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="bottom">
		<% if (place) { %>
			<button class="btn btn-success" ng-click="updateRestPlace(restplace)">Редактировать</button>
		<%} else { %>
			<button class="btn btn-success" ng-click="saveRestPlace(restplace)">Сохранить</button>
		<%} %>
	</div>


</div>
