<%- layout('base.ejs')%>
<% block('title', 'Админка') -%>

<script src="/libs/angular/angular.min.js"></script>
<script src="/javascripts/admin_misc.js"></script>
<script>
	window.tags = <%- JSON.stringify(tags) %>;
	window.benefits = <%- JSON.stringify(benefits) %>;
	window.cities = <%- JSON.stringify(cities) %>;
</script>

<link rel="stylesheet" href="/stylesheets/builded/admin.css">

<div ng-app="serpAdmin" ng-controller="MainCtrl" class="admin-container">

<div class="left">
	<div class="block">
		<div class="title">Теги</div>
		<div class="wrapper">
			<div class="form-group">
				<label for="title">Название тега</label>
				<input class="form-control" id="title" ng-class="{ fill : newTag.name }" type="text" ng-model="newTag.name">
				<button ng-click="createTag(newTag)" class="btn btn-apply">Добавить тег</button>
			</div>

		</div>
	</div>
	<div class="block">
		<div class="title">Готовые теги</div>
		<div class="wrapper">
			<p ng-repeat="t in tags" ng-model="benefit.name">{{ t.name }}</p>
		</div>
	</div>

	<div class="block">
		<div class="title">Города</div>
		<div class="wrapper">
			<div class="form-group">
				<label for="title">Название города</label>
				<input class="form-control" id="title" ng-class="{ fill : newCity.name }" type="text" ng-model="newCity.name">
				<button ng-click="createCity(newCity)" class="btn btn-apply">Добавить тег</button>
			</div>

		</div>
	</div>
	<div class="block">
		<div class="title">Имеющиеся города</div>
		<div class="wrapper">
			<p ng-repeat="city in cities">{{ city.name }}</p>
		</div>
	</div>
</div>
<div class="right">
	<div class="block">
		<div class="title">Бенефиты</div>
		<div class="wrapper">
			<div class="form-group">
				<label for="title">Название бенефита</label>
				<input class="form-control" id="title" ng-class="{ fill : newBenefit.name }" type="text" ng-model="newBenefit.name">
			</div>	
			<div class="form-group images-load-container">
				<label for="title">Иконка бенефита</label>
				<input id="image" type="file" style="visibility:hidden">
				<p><button class="btn btn-success" ng-click="loadImageForBenefit()">Загрузить иконку</button></p>
				<div class="images-list" ng-if="newBenefit.image">
					<div style="background-image:url('{{ newBenefit.image.path }}')" class="each-img"></div>
				</div>
			</div>
			<div class="form-group">
				<button ng-click="createBenefit(newBenefit)" class="btn btn-apply">Добавить бенефит</button>
			</div>
		</div>
	</div>
	<div class="block">
		<div class="title">Готовые бенефиты</div>
		<div class="wrapper">
			<div ng-repeat="ben in benefits" class="listed-objects">
				<div style="background-image : url('{{ ben.image.path }}')" class="img"></div>
				<span class="name">{{ ben.name }}</span>
			</div>
		</div>
	</div>
</div>

</div>