<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%- blocks.title %></title>
	<script src="/libs/jquery/dist/jquery.min.js"></script>
	<script src="/javascripts/config.js"></script>
	<!-- // <script src="/libs/angular/angular.min.js"></script> -->
	<script src="/libs/vegas/dist/vegas.js"></script>
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
	<link rel="stylesheet" href="/libs/vegas/dist/vegas.css">
	<link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
<!-- <body class="container"> -->
	<%- partial('particials/header') %>
	<div class="bg"></div>
	<div class="bg-fader"></div>
	<%- body %>
	<%- partial('particials/footer') %>

	<message></message>

	<style>
	button:focus {
		outline : none !important;
	}
	.bg {
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		background-image: url('/assets/bgmap.jpg');
	}
	.bg-fader {
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		background: #ddd;
		opacity: 0.3;
	}
	html, body {
		height: 100%;
		width: 100%;
		-webkit-font-smoothing: antialiased;
	}
	*[ng-click] {
		cursor: pointer;
	}
	*:focus {
		outline: none;
	}
	</style>
</body>
</html>