<%- layout('base.ejs')%>
<% block('title', 'Серпантин') -%>

<script src="/javascripts/slider.js"></script>

<link rel="stylesheet" href="/stylesheets/builded/blog.css">
	
<div>

	<div class="header">
		<p class="title">Блог</p>
	</div>

	<div class="posts container">
		<% for (var i = 0; i < posts.length; i++) { var post = posts[i]; %>
			<a href="/blog/<%= post.title_url %>">
				<div class="each-post">
					<p class="title"><%= post.title %></p>
					<p class="description"><%= post.description_mini %></p>
				</div>
			</a>
		<% } %>
	</div>

</div>