<%- layout('base.ejs')%>
<% block('title', 'Серпантин | Контакты') -%>

<link rel="stylesheet" href="/stylesheets/builded/contacts.css">
<script src="/javascripts/slider.js"></script>
<script src="/javascripts/contacts.js"></script>
	
<div>

	<div class="header">
		<p class="title">Контакты</p>
	</div>

	<div class="container">
		<div class="content">
			<div class="info">
				<p>Телефон для отдыхающих: +7 (495) 961 06 50</p>
				<br>
				<p>E-Mail: hello@serpantin.moscow</p>
				<br>
				<p>ООО "ЛОНГ ВЭЙ"</p>
				<p>Адрес: Россия, Москва, переулок Гагаринский дом 26</p>
				<p>ОГРН 1147746233095</p>
				<p>ИНН/КПП 7704858373/770401001</p>
				<p>р/с 40702810938000061244</p>
				<p>в ОАО "Сбербанк России" г. Москва</p>
				<p>к/с 30101810400000000225</p>
				<p>БИК 0445525225</p>
				<p>Тел: +7 (926) 474 - 98 - 99</p>
			</div>
			<div class="map" id="map"></div>
		</div>
	</div>

</div>