<%- layout('base.ejs')%>
<% block('title', 'Серпантин | Оферта исполнителю услуг') -%>

<link rel="stylesheet" href="/stylesheets/builded/law.css">
<script src="/javascripts/main.js"></script>
	
<div class="container">

	<div class="header">
		<p>Оферта исполнителю услуг</p>
	</div>

</div>