<%- layout('base.ejs')%>
<% block('title', 'Серпантин | Оферта исполнителю услуг') -%>

<link rel="stylesheet" href="/stylesheets/builded/law.css">
<script src="/javascripts/slider.js"></script>
	
<div>

	<div class="header">
		<p class="title">Оферта исполнителю услуг</p>
	</div>

	<div class="content container"></div>

</div>