<%- layout('base.ejs')%>
<% block('title', 'Серпантин | Пользовательское соглашение') -%>

<link rel="stylesheet" href="/stylesheets/builded/law.css">
	
<div class="container">

	Пользовательское соглашение

</div>