<%- layout('base.ejs')%>
<% block('title', 'Серпантин | Заказы клиентов') -%>

<script src="/libs/angular/angular.min.js"></script>
<script src="/javascripts/requests.js"></script>
<script src="/javascripts/slider.js"></script>

<script>
	window.requests = <%- JSON.stringify(requests) %>;
</script>

<link rel="stylesheet" href="/stylesheets/builded/requests.css">

<div class="header">
	<p class="title">Заказы клиентов</p>
</div>

<div class="content" ng-app="app" ng-controller="reqs">
	<div class="container">
		<div class="requests">
			<p class="title">Заказы клиентов</p>
				<div class="request" ng-repeat="r in requests">
					<p><a class="title" href="/hotel/{{ r.hotel.title_url }}" target="_blank">{{ r.hotel.title }}</a></p>

					<p class="count">id заказа: {{ r._id }}</p>
					<p class="dates">Выбранные даты: {{ r.dates }}</p>
					<p class="phone">Имя: {{ r.owner.name }}, Телефон: {{ r.phone }}</p>
					<p class="count">Отдыхающих: {{ r.count }}, Цена:
						<span >
							<input type="number" ng-model="r.price">
							<button ng-click="updateReq(r, { price : r.price })">Поменять</button>
						</span>
					</p>
					<span class="status">
						<div ng-if="!r.status">
							<p>Установить тариф</p>
							<p><button ng-click="updateReq(r, { tariff : 1 , status : 1, final_price : r.price * 0.02 } )">Подтвердить</button></p>
							<!-- <p><button ng-click="updateReq(r, { tariff : 2 , status : 1, final_price : r.price * 1.04 } )">Помощь в подборе</button></p>
							<p><button ng-click="updateReq(r, { tariff : 3 , status : 1, final_price : r.price * 1.1  } )">Полное Сопровождение</button></p> -->
						</div>
						<p ng-if="r.status == 1">Ожидание оплаты ( {{ r.final_price }} 
							<span ng-if="r.tariff==1">, самостоятельно)</span>
							<span ng-if="r.tariff==2">, помощь в подборе)</span>
							<span ng-if="r.tariff==3">, полное Сопровождение)</span>
						</p>
						<p ng-if="r.status == 2">Оплачено</p>
					</span>
				</div>
		</div>		
	</div>
</div>
