@import "main";

$green_color : #10D94D;

header {
	display: none;
}

.admin-container {
	max-width: 1200px;
	margin: 20px auto 0 auto;
	.block {
		border-radius: 5px;
		border: 1px solid lighten($serp_main_color2, 20%);
		margin-bottom: 20px;
		.title {
			background-color: lighten($serp_main_color2, 20%);
			padding: 5px 10px;
			color: $serp_main_color;
		}
		.wrapper {
			overflow: hidden;
			padding: 10px;
		}
	}
	input, textarea {
		transition: background-color .1s;
	}
	.fill {
		background-color: lighten($green_color, 30%);
	}

	.left, .right {
		float: left;
		display: inline-block;
		padding: 20px;
	}
	.left {
		width: 60%;
	}
	.right {
		width: 40%;
		.images-load-container {
			position: relative;
			input {
				position: absolute;
				right: 0;
				top: 0;
				width: 0;
				height: 0;
			}
			.images-list {
				clear: both;
				overflow: hidden;
				.each-img {
					width: 100px;
					height: 80px;
					margin: 0 20px 10px 0;
					float: left;
					background-position: center;
				    background-size: cover;
				    box-shadow: 0 1px 2px rgba(0,0,0,.4);
				}	
			}
		}
	}
	.bottom {
		width: 100%;
		clear: both;
		padding: 0 20px;
		margin-bottom: 50px;
	}
}

.listed-objects {
	position: relative;
	clear: both;
	.img {
		float: left;
		width: 50px;
		height: 50px;
		background-size: cover;
		background-position: center;
		display: inline-block;
	}
	.name {
		float: left;
		display: inline-block;
		height: 50px;
		padding-left: 15px;
		font-weight: 700;
		width: calc(100% - 50px);
	}
	span.fa-pencil,
	span.fa-times {
		cursor: pointer;
		position: absolute;
		display: none;
		top: 5px;
		right: 5px;
		padding: 2px;
	}
	span.fa-pencil {
		top : 5px;
		right: 20px;
	}
	&:hover span {
		display: inline-block;
	}
}