@import "main";

header {
	position: absolute;
	width: 100%;
	height: 0px;
	z-index: 999;
	.top {
		position: absolute;
		background: rgba(0,0,0,.3);
		width: 100%;
		height: 40px;
		.container {
			height: 100%;
			> * {
				height: 30px;
				line-height: 30px;
				padding-top: 5px;
			}
			* {
				color: white;
			}
			.username {
				float: right;
				padding-right: 25px;
				@include respond-to(mobile-screens) { padding-right : 10px; }
				@include respond-to(handhelds) { font-size: 12px; padding-right : 0px; }

				
				img {
					vertical-align: top;
					border-radius: 50%;
					width: 30px;
					height: 30px;
					margin-right: 8px;
					@include respond-to(handhelds) { width: 20px; height: 20px; margin-top: 5px; }

				}
			}
			.login, .cabinet {
				margin-left: 8px;
				display: inline-block;
				float: right;
				height: 40px;
				padding-right: 5px;
				padding-left: 5px;
				transition: background .1s;
				text-decoration: none;
				@include respond-to(handhelds) { font-size: 12px; padding-right : 0px; }
				.fa-container {
					display: inline-block;
					width: 30px;
					height: 30px;
					line-height: 30px;
					text-align: center;
					border-radius: 3px;
					margin-left: 10px;
					transition: background .1s, color .1s;
					&.facebook {
						background : #3b5998;
						&:hover {
							background: white;
							i {
								color: #3b5998;
							}
						}
					}
					&.vk {
						background : #45668e;
						&:hover {
							background: white;
							i {
								color: #45668e;
							}
						}
					}
					.fa {
						font-size: 18px;
						position: relative;
						top: 2px;
					}
				}
				&:hover {
					background: rgba(0,0,0,.4);
				}
			}
			a.cabinet {
				margin-right: 20px;
				@include respond-to(mobile-screens) { margin-right: 5px; }
				@include respond-to(handhelds) { font-size: 12px; margin-right : 0px; }
			}
		}
	}
	.container {
		position: relative;
		.logo-wrapper {
			position: absolute;
			// width: 80px;
			// height: 80px;
			top: 55px;
			width: 100%;
			left: 0;
			// left: 40px;
			text-align: center;
			z-index: 1000;
			@include respond-to(handhelds) { width: 100%; left: 0;  top: 70px;}
			@include respond-to(medium-screens) { width: 100%; left: 0; }
			@include respond-to(mobile-screens) { width: 100%; left: 0; top: 70px;}
			a {
				display: inline-block;
				width: 100%;
				height: 100%;
			}
		}
		.logo {
			width: 150px;
			height: 150px;
			// background-image: url(/assets/logoblack.png);
			background-image: url(/assets/logocolor.png);
			background-position: center;
			background-size: 100%;
			display: inline-block;
			@include respond-to(handhelds) { width: 90px; height: 90px; }
			@include respond-to(medium-screens) { width: 150px; height: 150px; }
			@include respond-to(mobile-screens) { width: 80px; height: 80px; }
		}
		.call-to-us {
			position: absolute;
			width: 100%;
			left: 0px;
			// top: 40px;
			top: 115px;
			text-align: center;
			@include respond-to(handhelds) { width: 100%; display: inline-block; top: 95px; }
			@include respond-to(medium-screens) { width: 100%; display: inline-block; top: 115px; }
			@include respond-to(mobile-screens) { width: 100%; display: inline-block; top: 105px; }
			p {
				font-size: 20px;
				font-weight: 300;
				color: white;
				margin: 0;
				@include respond-to(handhelds) { font-size: 10px; }
				@include respond-to(medium-screens) { font-size: 18px; }
				@include respond-to(mobile-screens) { font-size: 10px; }
				&.tel {
					color: $serp_main_color2;
					font-weight: 700;
					font-size: 32px;
					@include respond-to(handhelds) { font-size: 16px; line-height: 16px;}
					@include respond-to(medium-screens) { font-size: 24px; line-height: 24px;}
					@include respond-to(mobile-screens) { font-size: 18px; line-height: 18px;}
					a {
						color: $serp_main_color2;						
					}
				}
			}

		}
	}
}

.header.index {
	@include respond-to(992-max) { height: 520px !important; }
	@include respond-to(768-992) { height: 600px !important; }
	@include respond-to(min-768) { height: 670px !important; }
}