<link rel="stylesheet" href="/stylesheets/builded/footer.css"/>

<footer>
	<div class="container">
		<div class="cols-wrapper">
			<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
				<p class="title">Навигация</p>
				<p>Площадки</p>
			</div>
			<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
				<p class="title">О нас</p>
				<a href="/blog"><p>Блог</p></a>
				<p>О проекте</p>
				<p>Контакты</p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<p class="title">Помощь</p>
				<p>Пользовательское соглашение</p>
				<p>Оферта исполнителю услуг</p>
			</div>
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
				<p class="title">Контакты</p>
				<p>тел. 7 (499) 350-43-29</p>
				<p class="vk">Вконтакте</p>
				<p class="fb">Facebook</p>
				<p class="ok">Одноклассники</p>
			</div> 
		</div>
		<div class="bottom-wrapper">
			<p><span class="fa fa-copyright"></span>2016 ООО "Серпантин"</p>
		</div>
	</div>

</footer>