<link rel="stylesheet" href="/stylesheets/builded/header.css"/>
<script src="/javascripts/header.js"></script>

<header>
	<div class="container">
			<div class="logo-wrapper">
				<a href="/">
					<div class="logo"></div>
				</a>
			</div>
		<!-- <div class="call-to-us"> -->
			<!-- <p>Позвоните нам, и начните отдыхать прямо сейчас</p> -->
			<!-- <p class="tel">+7 (495) 961 06 50</p> -->
		<!-- </div> -->
	</div>
</header>