<div class="modal fade" id="placesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="left">
          <div class="image"></div>
        </div>
        <div class="right">
          <div class="info">
            <div class="title"></div>
            <div class="city-wrapper"><i class="fa fa-map-marker"></i><span class="city"></span></div>
            <div class="description"></div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>